.contact-form-inner {
  width: 60%;
  margin: auto;
  font-family: "Raleway" !important;

  .form-input {
    // contains common properties
    border-radius: 5px;
    border: 1.5px solid #5c9ead;
    background-color: #0f4c5c;
    color: white;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0.4rem auto;

    transition: background-color 0.5s ease;

    &:hover {
      background-color: #5c9ead;
    }

    &:focus {
      background-color: #5c9ead;
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    height: 35px;
    padding-left: 5px;
    font-size: 1.1rem;

    &::placeholder {
      color: white;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active,
    &:-internal-autofill-selected {
      box-shadow: 0 0 0px 30px #5c9ead inset;
      -webkit-box-shadow: 0 0 0px 30px #5c9ead inset;
      -webkit-text-fill-color: #fff !important;
    }
  }

  textarea {
    width: 99.2%;
    padding: 5px;

    &::placeholder {
      color: white;
    }
  }

  input[type="submit"] {
    width: 101.5%;
    height: 40px;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #5c9ead;
    }
    &:focus {
      background-color: #5c9ead;
    }
  }
}
