.social-icon {
  --width: 150px;
  --height: 60px;
  font-family: "Montserrat", sans-serif;
  width: var(--width);
  height: var(--height);
  border-radius: 5px;
  position: relative;
  background: none;
  margin: 0.5rem 1rem;
  overflow: hidden;
  border: 2px solid #2f195f;
  box-shadow: none;
  cursor: pointer;

  span {
    position: relative;
    color: #0f4c5c;
    font-size: 1.3rem;
    z-index: 2;
    transition: color 0.5s ease-in-out;
  }

  div {
    width: var(--width);
    height: var(--height);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2f195f;
    clip-path: circle(35% at 15% 85%);
    transition: clip-path 0.5s ease-in-out;
  }

  &:hover span {
    color: white;
  }

  &:hover div {
    clip-path: circle(100% at 50% 50%);
  }
}
