#home-cover {
  height: 100vh;
}

#profile-picture {
  position: absolute;
  top: 14%;
  width: 800px;
}

.cover-text {
  color: #ffffe0;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 35vh;
}

.cover-text h1 {
  font-size: 3em;
  text-shadow: 0px 0px 5px #36454f;
}

.cover-text p {
  font-size: 1.5em;
  line-height: 1.4em;
}

#full-stack-text {
  color: #dd614a;
  animation: glow 3s infinite;
  display: inline-block;
}

@keyframes glow {
  0% {
    text-shadow: 0px 0px 0px red;
    transform: translateY(5px);
  }
  50% {
    text-shadow: 0px 0px 5px #dd614a;
    transform: translateY(-5px);
  }
  100% {
    text-shadow: 0px 0px 0px red;
    transform: translateY(5px);
  }
}

nav {
  padding: 50px;
}

nav ul {
  list-style-type: none;
  float: right;
  margin-right: 310px;
}
nav ul li {
  padding: 0 10px;
  float: left;
}

nav ul li a {
  color: black;
}
nav ul li a:hover {
  text-decoration: none;
  color: teal;
}

.navigation-item {
  text-decoration: none;
  transition: font-size 0.5s;
  font-size: 1.5em;
}
.navigation-item:hover {
  transition: font-size 0.5s;
  font-size: 2em;
}
.logo {
  padding: 0 10px;
  color: white;
  font-size: 2em;
  float: left;
}

.logo:hover {
  text-decoration: none;
  font-size: 2.5em;
}
