#home-cover {
  background: url("../../assets/home/cover/bg.svg") no-repeat;
  background-size: cover;
  height: 108vh;
}

.cover-text {
  color: white;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 35vh;
}

.cover-text h1 {
  font-size: 3em;
}

.cover-text p {
  font-size: 1.5em;
  line-height: 1.4em;
}

#left-cover {
  position: absolute;
  top: 30%;
  height: 200px;
}

#right-cover {
  position: absolute;
  top: 50%;
  right: 0;
  height: 200px;
}

nav {
  padding: 50px;
}

nav ul {
  list-style-type: none;
  float: right;
  margin-right: 310px;
}
nav ul li {
  padding: 0 10px;
  float: left;
}

nav ul li a {
  color: black;
}
nav ul li a:hover {
  text-decoration: none;
  color: teal;
}

.navigation-item {
  text-decoration: none;
  transition: font-size 0.5s;
  font-size: 1.5em;
}
.navigation-item:hover {
  transition: font-size 0.5s;
  font-size: 2em;
}
.logo {
  padding: 0 10px;
  color: white;
  font-size: 2em;
  float: left;
}

.logo:hover {
  text-decoration: none;
  font-size: 2.5em;
}
