#my-skills-cover {
  height: 100vh;
  background-color: #2f3c5f;
  position: relative;
  overflow-x: hidden;
}

#my-skills-heading {
  z-index: 2;
  color: white;
  font-size: 5.5em;
  position: absolute;
  top: 11%;
  left: 6%;
  transform: rotate(-24deg);
}

.ticker {
  height: 15%;
  position: absolute;
  display: flex;
  box-shadow: -7px 6px 4px black;
  z-index: 2;
}

.show-ticker {
  transition: right 1.5s ease-in-out;
  right: 0 !important;
}

.ticker > h1 {
  align-items: center;
  margin-left: 15px;
  font-size: 3em;
}

#ticker1 {
  background: url("../../assets/home/myskills/ticker1.svg");
  width: 50%;
  top: 15%;
  right: -51%;
}

#ticker2 {
  background: url("../../assets/home/myskills/ticker2.svg");
  width: 60%;
  top: 35%;
  right: -62%;
  color: black;
}
#ticker3 {
  background: url("../../assets/home/myskills/ticker3.svg");
  width: 70%;
  top: 55%;
  right: -71%;
}
#ticker4 {
  background: url("../../assets/home/myskills/ticker4.svg");
  width: 80%;
  top: 75%;
  right: -83%;
  color: black;
}
