#superpowers-cover {
  height: 100vh;
  background-image: linear-gradient(#2f3c5f, #848e70);
  position: relative;
  overflow-x: hidden;
}

#superpower-heading {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 40px;
  height: 20%;
}

#power-left {
  display: inline-block;
  background: url("../../assets/home/superpowers/superpower.svg") no-repeat;
  width: 20%;
  height: 100%;
  transform: rotate(180deg);
}
#power-right {
  display: inline-block;
  background: url("../../assets/home/superpowers/superpower.svg") no-repeat;
  width: 20%;
  height: 100%;
}
#power-text {
  display: inline-block;
  margin: auto;
  font-size: 4em;
  font-weight: 800;
}

.hide-powers {
  opacity: 0;
}

.show-powers {
  animation: pop-out 2s;
}

@keyframes pop-out {
  0% {
    height: 10%;
    transform: rotate(0deg);
  }
  25% {
    height: 12.5%;
    transform: rotate(12deg);
    opacity: 0.25;
  }
  50% {
    height: 15%;
    transform: rotate(-12deg);
    opacity: 0.5;
  }
  75% {
    height: 17.5%;
    transform: rotate(5deg);
    opacity: 0.75;
  }
  100% {
    height: 20%;
    transform: rotate(0deg);
    opacity: 1;
  }
}

#superhero-figure {
  position: absolute;
  background: url("../../assets/home/superpowers/superheroFigure.svg") no-repeat;
  width: 400px;
  height: 400px;
  top: 40%;
  left: -22%;
}

.fly-hero-in {
  transition: top 2s ease-in-out, left 2s ease-in-out;
  top: 20% !important;
  left: 1% !important;
}

#superPowers-texts {
  width: 70%;
  height: 60%;
  margin-left: 25%;
  margin-top: 70px;
}

.powers-row {
  display: flex;
  width: 100%;
  height: 25%;
  margin: 30px;
}

#javascript {
  background: url("../../assets/home/superpowers/redComicBackground.svg")
    no-repeat;
  width: 25%;
  height: 100%;
}
#javascript > div {
  background: url("../../assets/home/superpowers/jstext.svg") no-repeat;
  height: 100%;
}

#html5 {
  background: url("../../assets/home/superpowers/blueComicBackground.svg")
    no-repeat;
  width: 25%;
  height: 116%;
}
#html5 > div {
  background: url("../../assets/home/superpowers/html5text.svg") no-repeat;
  height: 75%;
}

#css {
  background: url("../../assets/home/superpowers/greenComicBackground.svg")
    no-repeat;
  width: 25%;
  height: 100%;
}
#css > div {
  background: url("../../assets/home/superpowers/csstext.svg") no-repeat;
  height: 100%;
  margin-left: 12px;
  transform: rotate(4deg);
}

#webpack {
  background: url("../../assets/home/superpowers/blueComicBackground.svg")
    no-repeat;
  width: 25%;
  height: 100%;
}
#webpack > div {
  background: url("../../assets/home/superpowers/webpacktext.svg") no-repeat;
  height: 65%;
  margin-top: 15px;
  margin-left: -17px;
}

#react {
  background: url("../../assets/home/superpowers/yellowComicBackground.svg")
    no-repeat;
  width: 25%;
  height: 100%;
}
#react > div {
  background: url("../../assets/home/superpowers/reacttext.svg") no-repeat;
  height: 148%;
  margin-top: -31px;
  margin-left: -21px;
}

#node {
  background: url("../../assets/home/superpowers/redComicBackground.svg")
    no-repeat;
  width: 25%;
  height: 100%;
}
#node > div {
  background: url("../../assets/home/superpowers/nodetext.svg") no-repeat;
  height: 100%;
  margin-left: -14px;
  transform: rotate(3deg);
}

#jquery {
  background: url("../../assets/home/superpowers/greenComicBackground.svg")
    no-repeat;
  width: 25%;
  height: 100%;
}
#jquery > div {
  background: url("../../assets/home/superpowers/jquerytext.svg") no-repeat;
  height: 100%;
  margin-left: -14px;
  transform: rotate(3deg);
}

#sass {
  background: url("../../assets/home/superpowers/redComicBackground.svg")
    no-repeat;
  width: 25%;
  height: 100%;
}
#sass > div {
  background: url("../../assets/home/superpowers/sasstext.svg") no-repeat;
  height: 100%;
  margin-left: -14px;
  transform: rotate(3deg);
}

#socket {
  background: url("../../assets/home/superpowers/blueComicBackground.svg")
    no-repeat;
  width: 25%;
  height: 100%;
}
#socket > div {
  background: url("../../assets/home/superpowers/sockettext.svg") no-repeat;
  height: 88%;
  margin-left: -32px;
  transform: rotate(-4deg);
}
