#superpowers-cover {
  height: 100vh;
  background-image: linear-gradient(#2f3c5f, #848e70);
  position: relative;
  overflow-x: hidden;
}

#superpower-heading {
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 40px;
  height: 20%;
}

#power-left {
  display: inline-block;
  background: url("../../assets/home/superpowers/superpower.svg") no-repeat;
  width: 20%;
  height: 100%;
  transform: rotate(180deg);
}
#power-right {
  display: inline-block;
  background: url("../../assets/home/superpowers/superpower.svg") no-repeat;
  width: 20%;
  height: 100%;
}
#power-text {
  display: inline-block;
  margin: auto;
  font-size: 4em;
  font-weight: 800;
}

.hide-powers {
  opacity: 0;
}

.show-powers {
  animation: pop-out 2s;
}

@keyframes pop-out {
  0% {
    height: 10%;
    transform: rotate(0deg);
  }
  25% {
    height: 12.5%;
    transform: rotate(12deg);
    opacity: 0.25;
  }
  50% {
    height: 15%;
    transform: rotate(-12deg);
    opacity: 0.5;
  }
  75% {
    height: 17.5%;
    transform: rotate(5deg);
    opacity: 0.75;
  }
  100% {
    height: 20%;
    transform: rotate(0deg);
    opacity: 1;
  }
}

#superhero-figure {
  position: absolute;
  background: url("../../assets/home/superpowers/superheroFigure.svg") no-repeat;
  width: 400px;
  height: 400px;
  top: 40%;
  left: -22%;
}

.fly-hero-in {
  transition: top 2s ease-in-out, left 2s ease-in-out;
  top: 20% !important;
  left: 1% !important;
}
